doctype html
html
	include head.pug
	script.
		function send_comment() {
			alert(document.getElementById("comment_input").value)
		}
	script.
		function rateFunction() {
			rate = $('#RatingButtons input:checked').val()
			alert(rate);
			//$('#RatingButtons).submit();
		}
	include template.pug
		.row.doc_page
			img.col-xs-3.document-image(src='http://pngimages.net/sites/default/files/document-png-image-54169.png')
			.col-xs-1.divider
			.col-xs-4
				h1.doc_name #{doc.title}
				table.file-details(width='100%')
					tr(style='background-color: black;')
						th Size
						th Uploader
						th Type
					tr
						td #{doc.size} MB
						td 
							a(href='/go-all-documents/' + doc.uid) #{doc.uid}
						td #{doc.type}
				a
					h4.doc_download
						a(href= "/download/"+ doc.path + "/" + doc.title ) Download this document
		.row.doc_page
			div.col-xs-8.doc-descr #{doc.description}
		
		.row.doc_page
			.col-xs-3.rating(style='background: #ddd; border: 3px solid;')
				h4 Rate this document:
				span.fa.fa-star.checked
				span.fa.fa-star.checked
				span.fa.fa-star.checked
				span.fa.fa-star
				span.fa.fa-star
				form(onchange="rateFunction()" id='RatingButtons')
					input(type='radio' name='rate' value='1')
					| 1 
					input(type='radio' name='rate' value='2')
					| 2 
					input(type='radio' name='rate' value='3')
					| 3 
					input(type='radio' name='rate' value='4')
					| 4 
					input(type='radio' name='rate' value='5')
					| 5 
				p #{doc.rating} average based on reviews.
		//- .row.doc_page
		//- 	ul.col-xs-8.comments
		//- 		li
		//- 			h5
		//- 				b Ion Ion
		//- 			p.comm-content Frumos subiectul asta, thanks uploader.
		//- 			p.comm-time Posted at 23:59, 10/02/2018
		//- 		li
		//- 			h5
		//- 				b Dorel #1
		//- 			p.comm-content
		//- 				| Boss de boss
		//- 				br
		//- 				| Haters gonna hate
		//- 				br
		//- 				| H8r Sk8r
		//- 			p.comm-time Posted at 23:59, 10/02/2018
		//- 		li
		//- 			h5
		//- 				b Ion Ion
		//- 			p.comm-content Frumos subiectul asta, thanks uploader.
		//- 			p.comm-time Posted at 23:59, 10/02/2018
		//- 		li
		//- 			h5
		//- 				b Ion Ion
		//- 			p.comm-content Frumos subiectul asta, thanks uploader.
		//- 			p.comm-time Posted at 23:59, 10/02/2018
		//- 		li
		//- 			h5
		//- 				b Ion Ion
		//- 			p.comm-content Frumos subiectul asta, thanks uploader.
		//- 			p.comm-time Posted at 23:59, 10/02/2018
		//- .row.doc_page
		//- 	form#commentForm(onsubmit="send_comment()")
		//- 		textarea.col-xs-8.doc-descr(id="comment_input", rows='5')
		//- 		button.col-xs-8(type='submit', id='sendCommentButton' cols='5') Trimite