doctype html
html
	include head.pug
	script.
		function do_search() {
			alert(document.getElementById("search_input").value);
		}
		
		function toggleActions(id) {
			console.log('toggle ' + id);
			$('#' + id).toggle();
		}
	include template.pug
		.row
			.col-xs-6.search-bar
				form#searchForm(method='POST' action='/search-document')
					input(type="text", placeholder="Search..", id="search_input" name="search")
				//button(type="submit")
					i.fa.fa-search
		.row(style="padding-left: 50px;")
			h3.col-xs-6.main-title
				b All documents
			.col-xs-1
			h3.col-xs-3.secondary-title
				b Your recent documents
		.row(style="padding-left: 50px;")
			table.col-xs-6.all-files-table
				thead
					tr(style='background-color: black;')
						th Name
						th Size
						th Uploader
						th Type
				tbody
					each doc in all_documents
						tr
							td
								a(href='/doc-view-info/' + doc.id) #{doc.title}
							td #{doc.size} MB
							td
								a(href='/go-all-documents/' + doc.uid) #{doc.uid}
							td #{doc.type}
					else
						tr
							td
								p There are currently no files available.
			.col-xs-1
			table.col-xs-3.user-files-table
				tbody
					each user_doc in user_documents
						tr
							td
								p(onClick='toggleActions(' + user_doc.id + ')') #{user_doc.title}
								p(id="" + user_doc.id + "" style="display:none")
									br
									a(href='/doc-view-info/' + user_doc.id) View details
									br
					else
						tr 
							td
								p You have not uploaded any files yet.
